<h1>Admin Dashboard</h1>

<h4>Products in the Database: <%= @products %></h4>

<h4>Product categories in the Database: <%= @categories %></h4>
  <%= link_to "Products", '/products', class: 'btn btn-sm btn-primary' %>
