<tr>
  <td>
    <%= image_tag @order.line_items[0].product.image.tiny %>
  </td>
  <td>
    <h4><%= @order.line_items[0].product.name %></h4> 
    <br>
  </td>
  <td>
    $<%= @order.line_items[0].product.price %>
  </td>
  <td>
  </td>
  <td>
    $<%= @order.line_items[0].product.price * quantity %>
  </td>
</tr>


